@import 'tailwindcss';
@import '@nuxt/ui';
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

html,
body,
#app {
    height: 100%;
}

.vue-flow__node:focus-visible {
    outline: 1px solid var(--ui-primary) !important;
    outline-offset: 2px;
    border-radius: 0.5rem;
}
