@import 'tailwindcss';
@import '@nuxt/ui';
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

html,
body,
#app {
    height: 100%;
}

@layer base {
    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

.vue-flow__node:focus-visible {
    outline: 1px solid var(--ui-primary) !important;
    outline-offset: 2px;
    border-radius: 0.5rem;
}

.vue-flow__node.selectable:focus-visible {
    outline: 1px solid var(--ui-primary) !important;
    outline-offset: 2px;
    border-radius: 0.5rem;
}
